<!DOCTYPE html>
<html lang="en">
<title>Profil Andhika</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
.w3-quarter img{margin-bottom: -6px; cursor: pointer}
.w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
</style>
<body class="w3-light-grey">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large" style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">ke atas</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">Ke tengah</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">ke paling bawah</a>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-white w3-xlarge w3-padding-16">
    <span class="w3-left w3-padding">Andhika Rizki Pratama Putra</span>
    <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content" style="max-width:1600px;margin-top:83px">

    <!-- Photo grid -->
    <div class="w3-row w3-grayscale-min">
        <div class="w3-quarter">
            <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/69260059_2249105378735476_3891865296507502592_n.jpg?_nc_cat=111&_nc_oc=AQmNU1dqVDREwTKVJ1eKau7qjk_II_YNeYGzxHaw-_IYOpbZL7xOWTykkn79RTZApQg&_nc_ht=scontent.fcgk2-1.fna&oh=12f891a1e3aab948b178a1eb65de9b42&oe=5E05DBD0" style="width:100%" onclick="onClick(this)" alt="Keluarga ku">
            <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/69263723_2249159148730099_7646029049537495040_n.jpg?_nc_cat=111&_nc_oc=AQkM7C1AnLWxUzFMHvXLyOp8jnUmKP1xV4ZDjp0M0Ke4_vCwT40MeL-7n4s6jYWSm5M&_nc_ht=scontent.fcgk2-1.fna&oh=c34e8a09e6822ba46559a234789c20c5&oe=5E30CDDD" style="width:100%" onclick="onClick(this)" alt="Kebersamaan adalah cirihas dari keluargaku">
            <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/68625562_2249001375412543_7427719671517806592_n.jpg?_nc_cat=109&_nc_oc=AQkIF0H14UnSry9XEKOnCvQeUOFiaYstBqyMiH9t69z9PAsoOy6GUNJUyX9xsSmcZ_E&_nc_ht=scontent.fcgk2-1.fna&oh=e600d901f24b2d43588e457e7373dcd0&oe=5E05BC7F" style="width:100%" onclick="onClick(this)" alt="Senang Bersama">
        </div>

        <div class="w3-quarter">
            <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/62260956_2197320187247329_3084922593212366848_n.jpg?_nc_cat=109&_nc_oc=AQkpAqxbfaBq0nVVZqZVF58X-Hhp56o0RRViS-GZlIZwVyEEgrFgC1JbJSM1Z_AiWes&_nc_ht=scontent.fcgk2-1.fna&oh=766d12de2f6d1cb651a11745c8bf2235&oe=5E31CE9C" style="width:100%" onclick="onClick(this)" alt="Aku cinta keluarga ku">
            <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/62243645_2197320230580658_3316756372275593216_n.jpg?_nc_cat=103&_nc_oc=AQne8Ze28LVhM203b4WwL0HkISAeM26WAYP6GhqOif1sMD3RGBk4XxjCXmXYMFUgqyQ&_nc_ht=scontent.fcgk2-1.fna&oh=7bce2be960457298a3dedf865c720dd3&oe=5E315F1C" style="width:100%" onclick="onClick(this)" alt="Aku memiliki saudara yang baik">
            <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/58727353_2297496580271873_2853818460373254144_n.jpg?_nc_cat=107&_nc_oc=AQm4Z1FCSjrYhFEy2RP7CKW1nTLD8-GA9qCycTa_FzgWwaZHcuTwlu4-XnO6lW8l3HQ&_nc_ht=scontent.fcgk2-1.fna&oh=12e9fa9f4023798a6508c3cc2bb89551&oe=5E3BB5AE" style="width:100%" onclick="onClick(this)" alt="Aku cinta keluarga">
        </div>

        <div class="w3-quarter">
            <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/50463149_2107672859545396_330951775894896640_n.jpg?_nc_cat=104&_nc_oc=AQnrWyBNQ86lS76viMpz76cjpxGJSqzJc2LTLI7M0xx9nOx0KU7zfcofZRWvmKN4GSc&_nc_ht=scontent.fcgk2-1.fna&oh=345e2719aef7d5ee18e659aef5a326ba&oe=5E0488D2" style="width:100%" onclick="onClick(this)" alt="Senang sekali">
            <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/50613549_2107672752878740_4503309120077561856_n.jpg?_nc_cat=100&_nc_oc=AQlYCuFaLhVZ7KESJFcHktOOOQ2M4ADWZj5EzgVvMjIKGWBbpVLaRhyY6-77miye5SQ&_nc_ht=scontent.fcgk2-1.fna&oh=becbd7edab6d4a0344b8d9c9316fa559&oe=5E037990" style="width:100%" onclick="onClick(this)" alt="Bahagia">
            <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/19424313_1483290168359189_7364939493786430531_n.jpg?_nc_cat=105&_nc_oc=AQmon-4XFLD5yIULNhS6eyP6reaYh0bP5EQcHOtxewr910CLMWAUefMdEka-w5HBLqQ&_nc_ht=scontent.fcgk2-1.fna&oh=bf0fade7b9a8ff926f61e82acc668bdc&oe=5DF772C3" style="width:100%" onclick="onClick(this)" alt="Seneng dengan keluarga ku">
        </div>

        <div class="w3-quarter">
            <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/19511321_1483289351692604_7907229617557912875_n.jpg?_nc_cat=109&_nc_oc=AQl9NBHU4fBxJLiG4rA_8b0fPSXAw7EJHO-plAWPytOFRG871383HV1KAjjZnaHxgnM&_nc_ht=scontent.fcgk2-1.fna&oh=9d9b2902355964c1171dd4456912a712&oe=5DF367FF" style="width:100%" onclick="onClick(this)" alt="Aku berjuang untuk membuat semua bahagia">
            <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/18951463_1465913896763483_1568761075361722144_n.jpg?_nc_cat=100&_nc_oc=AQktnjRXn31RRXXH7PXRx4f3pujqmzUCv5v9HtJCS30Nn8NCCGZyTjOXCD1WNiEjPIU&_nc_ht=scontent.fcgk2-1.fna&oh=814dce8bacd3aa7a1412e8dcf9cb4460&oe=5DF37DB7" style="width:100%" onclick="onClick(this)" alt="Senang Sekali">
            <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/17523354_1405302916157915_3847686130944487129_n.jpg?_nc_cat=100&_nc_oc=AQmVpHon2RLUvGCacrIf8xh8okQcV7I3Q44X97FlUjU48rJanydRWB7DTo6vHMC4C1E&_nc_ht=scontent.fcgk2-1.fna&oh=adf78c6424c8daa1e57ffeb4d74d6816&oe=5DFC337E" style="width:100%" onclick="onClick(this)" alt="Ini ke hidupan ku">
        </div>
    </div>


    <div class="w3-center w3-padding-32">
        <div class="w3-bar">

        </div>
    </div>


    <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
        <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption"></p>
        </div>
    </div>

    <!-- Tentang saya -->
    <div class="w3-container w3-dark-grey w3-center w3-text-light-grey w3-padding-32" id="about">
        <h4><b>Tentang Saya</b></h4>
        <img src="https://scontent.fcgk2-1.fna.fbcdn.net/v/t1.0-9/18118547_1420963234591883_2374062140066124971_n.jpg?_nc_cat=109&_nc_oc=AQnWcHhz_hkLcx7FjvaLvJnf8gUN-33JzB2GoDD336uSU4ZCBhe5FXDdwWC9bw2RIZo&_nc_ht=scontent.fcgk2-1.fna&oh=408e4c2d5f4a6ffbd0edd598fe06eef2&oe=5DCA5671" alt="Me" class="w3-image w3-padding-32" width="600" height="650">
        <div class="w3-content w3-justify" style="max-width:600px">
            <h4>Nama Saya = Andhika Rizki Pratama Putra</h4>
            <p> Saya Tinggal Di Jakarta bagian utara , saya memutuskan untuk menjadi programmer karena menurut saya
                programmer itu tiada batasan artian tiada batasan disini iyalah kamu bisa sekreatif mungkin membuat sesuatu yang
                berdampak positif ke pada masyarakat dengan aplikasi yang kamu buat , dengan menjadi seorang programmer
                ketika kamu memiliki ide yang sangat bagus yang bisa kamu tuangkan untuk negaramu agar lebih maju maka kamu akan sukses
                bukan hanya di dunia programmer saja bahkan kamu akan menjadi salah satu orang penting yang mendukung majunya negara tersebut
                dan terakhir kamu tidak akan pernah bisa melepas laptop mu dari yang namanya coding akibat ketagihan membuat sesuatu yang baru ataupun
                berbeda dari yang lainya.
            </p>
            <p>EMAIL: Andhika.rizkipp@gmail.com</p>
            <p>telpon: 0895-3316-40459</p>
            <hr class="w3-opacity">
            <h4 class="w3-padding-16">Technical Skills</h4>
            <p class="w3-wide">Java Programming</p>
            <div class="w3-white">
                <div class="w3-container w3-padding-small w3-center w3-grey" style="width:90%">90%</div>
            </div>
            <p class="w3-wide">Web Design</p>
            <div class="w3-white">
                <div class="w3-container w3-padding-small w3-center w3-grey" style="width:80%">80%</div>
            </div>
            <p class="w3-wide">System Analyst</p>
            <div class="w3-white">
                <div class="w3-container w3-padding-small w3-center w3-grey" style="width:70%">70%</div>
            </div>
            <p class="w3-wide">UX Design</p>
            <div class="w3-white">
                <div class="w3-container w3-padding-small w3-center w3-grey" style="width:70%">70%</div>
            </div>

            <p><button class="w3-button w3-light-grey w3-padding-large w3-margin-top w3-margin-bottom w3-hover-black">LOVE MY CODE</button></p>
            <hr class="w3-opacity">

            <h4 class="w3-padding-16">Belajar Program disini</h4>
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-half w3-margin-bottom">
                    <ul class="w3-ul w3-white w3-center">
                        <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
                        <li class="w3-padding-16">Web Design</li>
                        <li class="w3-padding-16">System analyst</li>
                        <li class="w3-padding-16">Ux Design</li>
                        <li class="w3-padding-16">Java Programming</li>
                        <li class="w3-padding-16">
                            <h2>Rp. 1JT</h2>
                            <span class="w3-opacity">Perbulan</span>
                        </li>
                        <li class="w3-light-grey w3-padding-24">
                            <button class="w3-button w3-white w3-padding-large">Sign Up</button>
                        </li>
                    </ul>
                </div>

                <div class="w3-half">
                    <ul class="w3-ul w3-white w3-center">
                        <li class="w3-black w3-xlarge w3-padding-32">Pro</li>
                        <li class="w3-padding-16">Web Design</li>
                        <li class="w3-padding-16">System analyst</li>
                        <li class="w3-padding-16">Ux Design</li>
                        <li class="w3-padding-16">Java Programming</li>
                        <li class="w3-padding-16">
                            <h2>RP. 3JT</h2>
                            <span class="w3-opacity">Perbulan</span>
                        </li>
                        <li class="w3-light-grey w3-padding-24">
                            <button class="w3-button w3-white w3-padding-large">Sign Up</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact section -->
    <div class="w3-container w3-light-grey w3-padding-32 w3-padding-large" id="contact">
        <div class="w3-content" style="max-width:600px">
            <h4 class="w3-center"><b>Contact Me</b></h4>
            <p>Ayo hubungi saya , semangat belajarmu membuat kepercayaan kami semakin bertambah</p>
            <form action="/action_page.php" target="_blank">
                <div class="w3-section">
                    <label>Name</label>
                    <input class="w3-input w3-border" type="text" name="Name" required>
                </div>
                <div class="w3-section">
                    <label>Email</label>
                    <input class="w3-input w3-border" type="text" name="Email" required>
                </div>
                <div class="w3-section">
                    <label>Message</label>
                    <input class="w3-input w3-border" type="text" name="Message" required>
                </div>
                <button type="submit" class="w3-button w3-block w3-black w3-margin-bottom">Send Message</button>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-32 w3-grey">
        <div class="w3-row-padding">
            <div class="w3-third">
                <h3>INFO</h3>
                <p>Kami akan memberikan sertifikat kepada murid berbakat dan peluang akan langsung menjadi TIM inti di perusahan kami</p>
            </div>

            <div class="w3-third">
                <h3>BLOG POSTS</h3>
                <ul class="w3-ul">
                    <li class="w3-padding-16 w3-hover-black">
                        <img src="https://images.alphacoders.com/665/thumb-1920-665091.jpg" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">I LOVE CODE</span><br>
                        <span>No code no life</span>
                    </li>
                    <li class="w3-padding-16 w3-hover-black">
                        <img src="https://images.alphacoders.com/665/thumb-1920-665091.jpg" class="w3-left w3-margin-right" style="width:50px">
                        <span class="w3-large">Sukai pekerjaanmu</span><br>
                        <span>Menuju Sukses</span>
                    </li>
                </ul>
            </div>

            <div class="w3-third">
                <h3>My hobi</h3>
                <p>
                    <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Jakarta Utara</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Indonesia</span>
                    <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">DIY</span>
                    <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Family</span>
                    <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Shopping</span>
                    <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Games</span>
                </p>
            </div>
        </div>
    </footer>

    <div class="w3-black w3-center w3-padding-24"> Smart Parking System <a href="samehadaku.tv" title="W3.CSS" target="_blank" class="w3-hover-opacity">SPS</a></div>

    <!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

</script>


</body>
</html>
