<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                           th:href="@{/}"
                           aria-expanded="false">
                            <i class="mdi mdi-currency-btc"></i>
                            <span class="hide-menu">Home</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                           th:href="@{/datamember}"
                           aria-expanded="false">
                            <i class="mdi mdi-currency-btc"></i>
                            <span class="hide-menu">Data Member</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                           th:href="@{/datameja}"
                           aria-expanded="false">
                            <i class="mdi mdi-currency-btc"></i>
                            <span class="hide-menu">Data Meja</span>
                        </a>
                    </li><li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       th:href="@{/databiaya}"
                       aria-expanded="false">
                        <i class="mdi mdi-currency-btc"></i>
                        <span class="hide-menu">Data Biaya Sewa</span>
                    </a>
                </li><li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link"
                       th:href="@{/tempattersewa}"
                       aria-expanded="false">
                        <i class="mdi mdi-currency-btc"></i>
                        <span class="hide-menu">Data Meja Tersewa</span>
                    </a>
                </li>





                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
</html>
