<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <!-- Top Bar Start -->
    <nav class="navbar navbar-expand-lg navbar-toggle bg-toggle">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <nav class="navbar navbar-expand-lg navbar-toggle bg-toggle">
                <a class="navbar-brand" href="#"> SPS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/mall}">Mall And Prarking <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/keluarparkir}">keluar kendaraan<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/parking}">Parking</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/sertifikat}">sertifikat</a>
                    </li>


                            <!-- ============================================================== -->
                            <!-- End Topbar header -->
                            <!-- ============================================================== -->

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/kendaraan}">Kendaraan</a>
                            <a class="dropdown-item" th:href="@{/areaparkir}">Area Parkir </a>
                            <a class="dropdown-item" th:href="@{/gedungparkir}">Gedung Parkir </a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                </form>
        </div>
    </nav>
</html>