<!DOCTYPE html>
<html>
<title>Info Mall</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>



<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="https://c.pxhere.com/photos/dd/ae/motor_clouds_background_ducati_scrambler-491843.jpg!d" alt="Architecture" width="1500" height="800">
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>SPS</b></span> <span class="w3-hide-small w3-text-light-grey"></span></h1>
    </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">
    <div class="w3-row-padding w3-grayscale">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-container">
                <div class="w3-display-container">
                    <img src="https://cdn-image.bisnis.com/posts/2019/01/14/878385/pondok-indah-mal.jpg" width="300" height="300">
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Pondok indah Mall</button>
                    </div>
                </div>
            </div>
            <h3>Mall Pondok Indah</h3>
            <p class="w3-opacity">Tentang Mall</p>
            <p>Mall Pondok Indah atau yang lebih disebut PIM adalah salah satu pusat pembelanjaan dan hiburan di jakarta selatan, PIM terletak di persilangan jalan metro dan jalan haji nawi</p>
            <a href="https://id.wikipedia.org/wiki/Mal_Pondok_Indah"><button class="w3-button w3-light-grey w3-block">Baca Selengkapnya disini</button></a>
        </div>

        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-container">
                <div class="w3-display-container">
                    <img src="https://3.bp.blogspot.com/-p7VvZ_6DZo4/VjHZ_pKGRII/AAAAAAAAGso/bUPGUpnaSNw/s1600/Mall%2BGI.jpg" width="300" height="300">
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black"> Grand Indonesia </button>
                    </div>
                </div>
            </div>
            <h3>Grand Indonesia</h3>
            <p class="w3-opacity">Tentang Mall</p>
            <p>Mall Grand Indonesia, Merupakan Mall di jakarta Mall ini di buka pada tahun 2007 oleh presiden Susilo Bambang Yudholono , Mall ini terletak di persilangan jalan M.H Tharmrin no.1 jakarta pusat</p>
            <a href="https://id.wikipedia.org/wiki/Grand_Indonesia_Shopping_Town"><button class="w3-button w3-light-grey w3-block">Baca Selengkapnya disini</button></a>
        </div>


        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-container">
                <div class="w3-display-container">
                        <img src="https://www.klikhotel.com/klik/database/informasiSekitarLokasi/1925-850.jpg" alt="Mike" width="300" height="300">
                        <div class="w3-display-middle w3-display-hover">
                            <button class="w3-button w3-black">Mall Artha Gading</button>
                        </div>
                </div>
            </div>
            <h3>Mall Artha Gading</h3>
            <p class="w3-opacity">Tentang Mall</p>
            <p>Mall Artha Gading terletak di jakarta utara di sisi jalan tol cawang-tanjung priok Mall ini di bangun oleh PT Swadaya Pandu Artha. Desain dan interrior mall ini mengambil konsep dari sejarah jalur sutera</p>
            <a href="https://id.wikipedia.org/wiki/Mall_Artha_Gading"><button class="w3-button w3-light-grey w3-block">Baca Selengkapnya disini</button></a>
        </div>

        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-container">
                <div class="w3-display-container">
                       <img src="https://cdn-image.bisnis.com/posts/2014/09/08/255872/pacific-place.jpg" alt="Dan" width="300" height="300">
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Mall Pacific Place</button>
                    </div>
                </div>
            </div>
            <h3>Mall Pacific Place</h3>
            <p class="w3-opacity">Tentang Mall</p>
            <p>Sebuah Mall Perbelanjaan yang terletak di Sudirman Central Business District  Senayan, Kebayoran Baru, Jakarta Selatan, Indonesia. Alamat Sudirman Central Business District, Jalan Jend. Sudirman </p>
            <a href="https://id.wikipedia.org/wiki/Pacific_Place"><button class="w3-button w3-light-grey w3-block">Baca Selengkapnya disini</button></a>
        </div>

        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-container">
                <div class="w3-display-container">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/0b/48/72/00/photo0jpg.jpg" alt="Dan" width="300" height="300">
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Gandaria City</button>
                    </div>
                </div>
            </div>
            <h3>Gandaria City</h3>
            <p class="w3-opacity">Tentang Mall</p>
            <p>Gandaria City adalah mall 7 Lantai yang berada di daerah Kebayoran Lama Utara, Kebayoran Lama, Jakarta Selatan, yang dioperasikan oleh Pakuwon Jati. Mall ini terletak di Jalan Sultan Iskandar Muda, dan resmi beroperasi sejak tanggal 15 Agustus 2010.</p>
            <a href="https://id.wikipedia.org/wiki/Gandaria_City"><button class="w3-button w3-light-grey w3-block">Baca Selengkapnya disini</button></a>
        </div>

        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-container">
                <div class="w3-display-container">
                    <img src="https://awsimages.detik.net.id/community/media/visual/2016/09/01/e6355e1d-4b3d-4d69-a4b3-b0ab199b365d_169.jpg?w=700&q=90" alt="Dan" width="300" height="300">
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Lippo Mall Kemang</button>
                    </div>
                </div>
            </div>
            <h3>Lippo Mall Kemang</h3>
            <p class="w3-opacity">Tentang Mall</p>
            <p></p>
            <a href=""><button class="w3-button w3-light-grey w3-block">Baca Selengkapnya disini</button></a>
        </div>




    </div>

    <!-- Image of location/map -->
    <div class="w3-container">
        <img src="/w3images/map.jpg" class="w3-image" style="width:100%">
    </div>

    <!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
    <p>Kembali Ke Home => <a href="http://localhost:8002/sps/" title="Smart Parking System" target="_blank" class="w3-hover-text-green">Smart Parking System</a></p>
</footer>

</body>
</html>
