<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        layout:decorate="~{layout/master}"
>
<head>
    <!-- Menyisipkan Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    <title>Sertifikat</title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <h4>Sertifikat</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <form class="form-horizontal" role="form"
                          th:action="@{/gedungparkir/create}"
                          th:object="${data}"
                          method="post"

                    >
                        <div class="form-group row">
                              <label for="nama-i" class="col-sm-2 col-form-label">Nama</label>
                              <div class="col-sm-10">
                                    <input type="text" class="form-control"
                                           name="nama"
                                           id="nama-i"
                                           th:field="*{nama}"
                                           placeholder="Nama">
                              </div>
                         </div>


                        <div class="form-group row">
                            <label for="alamat-i" class="col-sm-2 col-form-label">Alamat</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                       name="alamat"
                                       id="alamat-i"
                                       th:field="*{alamat}"
                                       placeholder="Alamat">
                            </div>
                        </div>



                        <div class="form-group row">
                            <label for="lokasi-i" class="col-sm-2 col-form-label">Lokasi</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"
                                       name="lokasi"
                                       id="lokasi-i"
                                       th:field="*{lokasi}"
                                       placeholder="Lokasi">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </div>
                        <head>
                            <style>
                                    body {
                                            background-image: url("http://mall.theparksolo.com/cni-content/uploads/modules/slider/20181019102628.jpg");
                                    }
                            </style>
                        </head>
                    </form>
                </div>  <!-- end row -->
            </div>
        </div><!-- end col-12 -->
    </div> <!-- end row -->
    </div>
</th:block>

<!-- Menyisipkan JQuery dan Javascript Bootstrap -->
<div class="row">
<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>